.sidenav{
     background-color: #464646;
     padding: 20px 60px 20px 0px;
}

.nav-links{
     .nav-link{
          color: white !important;
          font-size: 19px;
          font-weight: 600;
          cursor: pointer;
     }
}