.sidenav {
  background-color: #aa9fff;
  padding: 20px 60px 20px 0px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

.mat-drawer-container {
  background-color: unset;
}

.logo {
  width: 40px;
}

.nav-links {

  .nav-icon {
    width: 25px;
  }

  .mat-nav-icon{
    font-size: 30px;
  }

  .nav-link {
    color: white !important;
    font-size: 1.2rem;
    font-weight: 600;
    cursor: pointer;
    margin: 20px 0;
  }

  .nav-link:is(.active) {
    color: white !important;
    background-color: #424242;
    border-radius: 15px;
  }

  .nav-text {
    margin: 5px 0 0 10px;
  }
}

@media screen and(min-width: 960px) {
  .mobile-nav {
    display: none !important;
  }
}

.mobile-nav {
  padding: 0 15px;

  .hamburger-btn {
    background: none;
    border: none;

    .icon {
      font-size: 40px;
      color: #7e627d;
      margin-right: 10px;
    }
  }

}
