<section>
     <mat-drawer-container class="drawer-container" autosize>
          <mat-drawer #drawer class="sidenav" mode="side" opened>
            <div class="side-links mt-5">
                 <ul class="nav-links">
                   <li class="nav-link">
                     Home
                   </li>
                 </ul>
            </div>
          </mat-drawer>
        
          <div class="sidenav-content">
               <router-outlet></router-outlet>
            <!-- <button type="button" mat-button (click)="drawer.toggle()">
              Toggle sidenav
            </button> -->
          </div>
        
        </mat-drawer-container>
</section>