.create-article-page {
  .image {
    display: flex;
    justify-content: center;

    img {
      max-width: 300px !important;
    }
  }
}

.content-header {
  color: darken($color: gray, $amount: 10);
  font-weight: 580;
  font-size: 1.2rem;
}
