<div class="create-article-page">
  <div class="container mt-5">
    <h1>Create Article</h1>
    <div class="content row gx-5 gy-5 mt-5 align-items-center">
      <div class="image col-4">
        <img class="w-100" src="../../../assets/image/writer-bear.png" alt="">
      </div>
      <div class="form col-8 d-flex justify-content-center" id="grayInput">
        <form autocomplete="off" class="w-100" [formGroup]="articleForm" (submit)="saveArticle()">
          <!-- Title -->
          <mat-form-field appearance="fill" class="w-100">
            <mat-label>Title</mat-label>
            <input matInput type="text" formControlName="title" class="w-100" maxlength="20">
          </mat-form-field>

          <!-- Published Date -->
          <mat-form-field appearance="fill" class="w-100">
            <mat-label>Choose Published Date</mat-label>
            <input matInput [matDatepicker]="picker" class="w-100" formControlName="dsPublishedDate">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>

          <!-- Content -->
          <mat-label class="content-header">Content</mat-label>
          <angular-editor id="editor" [placeholder]="'Enter text here...'" [config]="editorConfig"></angular-editor>

          <button type="submit" class="btn btn-block btn-save w-100 mt-4">Save Article</button>
        </form>

      </div>
    </div>
  </div>
</div>