/* You can add global styles to this file, and also import other style files */
@import './assets/theme/material-custom.scss';
@import './assets/theme/root.scss';
@import './assets/theme/media.scss';

html,
body {
  height: 100vh;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #eaeaea;
}

.mat-drawer-content {
  height: 100vh !important;
}

